body{
  background-color: #0f9f73;
  height:100%;
  width:100%;
}
.container {
 width: 100%;

}
@media (min-width: 1200px){
  .main{
    position: absolute;
  }

#title{
      top: 18%;
      font-family: 'Amatic SC';
      font-size: 220px;
      font-weight: 700;
      text-align: center;
      cursor: default;
}

input{
font-size: 200px;
border-style: hidden;
background-color: inherit;
border-bottom-style: dashed;
border-radius: 100px;
text-align: center;
  font-family: 'Amatic SC';
    //top: 50%;
    z-index:1;
    width: 100%;
}

.glyphicon{

  font-size: 4em;
  color: black!important;
  cursor: pointer;

}
#ic{
  position: absolute;
  transform: translate(0px, -61px);
  left: 44%;
  right: -55%;
}


}


@media (max-width: 1200px){

  #title{
        margin-top: 10%;
        font-family: 'Amatic SC';
        font-size: 6em;
        font-weight: 700;
        text-align: center;
  }

.main{
  position: absolute;
}

#put{
  text-align: center;
}

input{
border-style: hidden;
background-color: inherit;
border-bottom-style: dashed;
border-radius: 100px;
text-align: center;
  font-family: 'Amatic SC';
font-size: 3.6em;
    width: 80%;



}
.glyphicon{
  font-size: 3em;
  color: black!important;
  cursor: pointer;
  //margin-left: 350px;
}
#ic{
 max-width: 80%;
 position: absolute;
 transform: translate(0px, -50px);
  left:45%;
  //right: -55%;
}

ul{
  max-width: 95%;
}

}



input{
outline-width: 0;
}

.cursor{
  color: black;
}

li{
  margin: auto;
  color: black!important;
}
#id{
  //animation-duration: 6s;
  //-webkit-transform-style: preserve-3d;
}
#main{
  padding-bottom: 50px;
}

#random{
  text-align: right;
  max-width: 95%;
}
.rando{
font-family: 'Amatic SC';
font-size: 3em;
text-align: right;
}
