body{
  background-color: #0f9f73;
  height:100%;
  width:100%;
}
.container {
 height: 100%
 width: 100%;

}
@media (min-width: 1200px){
  .container{
    margin: auto;
    //max-width: 800px;
  }
#title{
      top: 18%;
      font-family: 'Amatic SC';
      font-size: 220px;
      font-weight: 700;
      text-align: center;
      cursor: default;
}

input{
font-size: 200px;
border-style: hidden;
background-color: inherit;
border-bottom-style: dashed;
border-radius: 100px;
text-align: center;
  font-family: 'Amatic SC';
    top: 50%;
    z-index:99;
    cursor: pointer;
}

.glyphicon{
  position: absolute;
  margin-top:35%;
  top:55%;
  left: 45%;
  font-size: 6em;
  z-index: 1;
  margin: auto;
}

}
@media (max-width: 1200px){

#title{
      margin-top: 10%;
      font-family: 'Amatic SC';
      font-size: 6em;
      font-weight: 700;
      text-align: center;
}







}

@media (max-width: 1200px){

.main{
  position: absolute;
}

#put{
  text-align: center;



}

input{
border-style: hidden;
background-color: inherit;
border-bottom-style: dashed;
border-radius: 100px;
text-align: center;
  font-family: 'Amatic SC';
font-size: 3.6em;

    width: 80%;



}

}

#ic{
  position: absolute;
  transform: translate(0px, -50px);
  left: 45%;
  right: -55%;
}
.glyphicon{
  font-size: 3em;
  max-width: 100%;
  max-height: 100%;
}
input{
outline-width: 0;
}

.cursor{
  color: black;
}
